﻿<div class="unit" data-k="106949471">
    <div class="mainmessage " onmouseover="Main.moverWall($(this))" onmouseout="Main.moutWall($(this))" data-checked="checked">
        <div class="replybuttons hide">
            <a href="#" class="butmini" onclick="Main.onClick_WallReply($(this)); return false;">
                <img src="/img/icons/ui/reply.png">
                Reply
            </a>
            <a href="#" class="butmini" onclick="Main.onFavClick($(this));return false;"> <img src="/img/icons/ui/fav.png"> Favori</a>
            <a href="#" class="butmini" onclick="return Main.ajaxPopup('/signalWallMessage/106949471',{moral:true,title:'Report Post ?',width:'480px' });"><img src="/img/icons/ui/alert.png">Report</a>
        </div>
        <div class="mainsaid neron_talks">
            <div class="neron"></div>
            <span class="buddy">NERON :</span> Alert! <strong>Fire</strong> reported by <strong>Jin Su</strong> !
            <span class="ago">22min</span>
            <div class="clear"></div>
        </div>
    </div>
    <a href="#" class="showallreplies" onclick="var t = $(this); t.siblings('table').find('.cdClps').slideDown().queue( function(e){t.slideUp(); return e();}); return false; ">
        Show all 4 replies.
    </a>
    <table class="treereply">
        <tbody>
            <tr data-checklist="21521" data-checkedmark="false" class=" cdClps  not_read  cdRepl " style="display: table-row;" data-idx="0" onmouseover="Main.moverWall($(this))" onmouseout="Main.moutWall($(this))">
                <td class="tree"></td>
                <td>
                    <div class="reply bubble">
                        <img src="/img/icons/ui/recent.png" class="recent">
                        <div class="triangleup"></div>
                        <div class="char ian" style=""></div>
                        <span class="buddy">Ian :</span>
                        <p>Where is extinguisher?</p>
                        <div class="replybuttons hide">
                            <a href="#" class="butmini" onclick="Main.onClick_WallReply($(this)); return false;">
                                <img src="/img/icons/ui/reply.png">
                                Reply
                            </a>
                            <a href="#" class="butmini" onclick="Main.ajaxPopup('/signalWallReply/106949471/0',{moral:true,title:' Report Post? ',width:'480px' })">
                                <img src="/img/icons/ui/alert.png"> Report Post?
                            </a>
                        </div>
                        <span class="ago">18min</span>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <tr data-checklist="21521" data-checkedmark="false" class=" cdClps  not_read  cdRepl " style="display: table-row;" data-idx="1" onmouseover="Main.moverWall($(this))" onmouseout="Main.moutWall($(this))">
                <td class="tree"></td>
                <td>
                    <div class="reply bubble">
                        <img src="/img/icons/ui/recent.png" class="recent">
                        <div class="triangleup"></div>
                        <div class="char jin_su" style=""></div>
                        <span class="buddy">Jin Su :</span>
                        <p>its here, in the bay</p>
                        <div class="replybuttons hide">
                            <a href="#" class="butmini" onclick="Main.onClick_WallReply($(this)); return false;">
                                <img src="/img/icons/ui/reply.png">
                                Reply
                            </a>
                            <a href="#" class="butmini" onclick="Main.ajaxPopup('/signalWallReply/106949471/1',{moral:true,title:' Report Post? ',width:'480px' })">
                                <img src="/img/icons/ui/alert.png"> Report Post?
                            </a>
                        </div>
                        <span class="ago">17min</span>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <tr data-checklist="21521" data-checkedmark="false" class=" cdClps  not_read  cdRepl " style="display: table-row;" data-idx="2" onmouseover="Main.moverWall($(this))" onmouseout="Main.moutWall($(this))">
                <td class="tree"></td>
                <td>
                    <div class="reply bubble">
                        <img src="/img/icons/ui/recent.png" class="recent">
                        <div class="triangleup"></div>
                        <div class="char eleesha" style=""></div>
                        <span class="buddy">Eleesha :</span>
                        <p>Bravo dorm</p>
                        <div class="replybuttons hide">
                            <a href="#" class="butmini" onclick="Main.onClick_WallReply($(this)); return false;">
                                <img src="/img/icons/ui/reply.png">
                                Reply
                            </a>
                            <a href="#" class="butmini" onclick="Main.ajaxPopup('/signalWallReply/106949471/2',{moral:true,title:' Report Post? ',width:'480px' })">
                                <img src="/img/icons/ui/alert.png"> Report Post?
                            </a>
                        </div>
                        <span class="ago">16min</span>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <tr data-checklist="5137" data-checkedmark="false" class=" cdClps  not_read  cdRepl " style="display: table-row;" data-idx="3" onmouseover="Main.moverWall($(this))" onmouseout="Main.moutWall($(this))">
                <td class="tree"></td>
                <td>
                    <div class="reply bubble">
                        <img src="/img/icons/ui/recent.png" class="recent">
                        <div class="triangleup"></div>
                        <div class="char ian" style=""></div>
                        <span class="buddy">Ian :</span>
                        <p>Thank you, Eleesha.</p>
                        <div class="replybuttons hide">
                            <a href="#" class="butmini" onclick="Main.onClick_WallReply($(this)); return false;">
                                <img src="/img/icons/ui/reply.png">
                                Reply
                            </a>
                            <a href="#" class="butmini" onclick="Main.ajaxPopup('/signalWallReply/106949471/3',{moral:true,title:' Report Post? ',width:'480px' })">
                                <img src="/img/icons/ui/alert.png"> Report Post?
                            </a>
                        </div>
                        <span class="ago">15min</span>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <tr data-checklist="4113" data-checkedmark="false" class=" not_read  cdRepl " data-idx="4" onmouseover="Main.moverWall($(this))" onmouseout="Main.moutWall($(this))" style="display: table-row;">
                <td class="tree"></td>
                <td>
                    <div class="reply bubble">
                        <img src="/img/icons/ui/recent.png" class="recent">
                        <div class="triangleup"></div>
                        <div class="char jin_su" style=""></div>
                        <span class="buddy">Jin Su :</span>
                        <p>how do you fail to put out a fire at 97% chance of success? I did, somehow.....</p>
                        <div class="replybuttons hide">
                            <a href="#" class="butmini" onclick="Main.onClick_WallReply($(this)); return false;">
                                <img src="/img/icons/ui/reply.png">
                                Reply
                            </a>
                            <a href="#" class="butmini" onclick="Main.ajaxPopup('/signalWallReply/106949471/4',{moral:true,title:' Report Post? ',width:'480px' })">
                                <img src="/img/icons/ui/alert.png"> Report Post?
                            </a>
                        </div>
                        <span class="ago">11min</span>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <tr data-checklist="4097" data-checkedmark="false" class=" not_read  cdRepl " data-idx="5" onmouseover="Main.moverWall($(this))" onmouseout="Main.moutWall($(this))" style="display: table-row;">
                <td class="tree treelast"></td>
                <td>
                    <div class="reply bubble">
                        <img src="/img/icons/ui/recent.png" class="recent">
                        <div class="triangleup"></div>
                        <div class="char jin_su" style=""></div>
                        <span class="buddy">Jin Su :</span>
                        <p>good work, Eleesha.</p>
                        <div class="replybuttons hide">
                            <a href="#" class="butmini" onclick="Main.onClick_WallReply($(this)); return false;">
                                <img src="/img/icons/ui/reply.png">
                                Reply
                            </a>
                            <a href="#" class="butmini" onclick="Main.ajaxPopup('/signalWallReply/106949471/5',{moral:true,title:' Report Post? ',width:'480px' })">
                                <img src="/img/icons/ui/alert.png"> Report Post?
                            </a>
                        </div>
                        <span class="ago">7min</span>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <tr class="blockreply hide">
                <td class="tree treelast cdTreeReply"></td>
                <td>
                    <div class="reply cdReplyBlock">
                        <textarea class="chatbox" id="wall_reply_106949471" onfocus="Main.onWallFocus($(this));$(this).addClass('chatboxfocus');" onblur="Main.onWallBlur($(this)); "></textarea>
                    </div>
                    <script type="text/javascript" id="script_18820">Main.restoreWallReply($('#wall_reply_106949471'));</script>
                </td>
            </tr>
        </tbody>
    </table>
</div>